<div class="row">
            <div class="col-md-12">
            	<!-- 导航条 -->
            	<nav class="navbar navbar-default">
			  <div class="container-fluid">
			 
			    <div class="navbar-header">
			     <a class="navbar-brand" href=""><span class="glyphicon glyphicon-home">{$siteName|default='后台首页'}</span></a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			      <ul class="nav navbar-nav navbar-right">

               {if  $Think.session.admin_id}
			        <li><a href="#">{$Think.session.admin_name}</a></li>

				      <li><a href="/index.php">回到前台</a></li>
				      <li><a href="{:url('user/logout')}">退出</a></li>
			    {/if}

			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
	   </div>		
</div>
