{layout name="public/layout"/}
 <h3 class="text-center text-success">分类管理</h3>
 <table class="table table-default table-hover text-center">
 	
 	<tr>
 		<td>序号</td>
 		<td>ID</td>
 		<td>栏目名称</td>
 		<td>排序</td>
 		<td>状态</td>
 		<td>创建时间</td>
 		<td colspan="2">操作</td>
 	</tr>

	{volist name="catelist" id="cate" empty="$empty"}

	        <td> 
               <input type="checkbox" name="ids" class="ids" value="{$cate.id}">
            </td>

	 		<td>{$cate.id}</td>
	 		<td>{$cate.name}</td>
	 		<td>{$cate.sort}</td>

         {eq name="$cate.status" value="1"}
	 		<td style="color: forestgreen">显示</td>
	     {else/}
	        <td style="color:gray">隐藏</td>
	     {/eq}

	 		<td>{$cate.create_time}</td>

	 		  <td><a href="{:url('artcate/cateEdit',['id'=>$cate.id])}">编辑</a></td>
       	
	 		  <td><a href="{:url('artcate/cateDelete',['id'=>$cate.id])}" onClick="return confirm('确认要删除用户:{$cate.name}吗？')">删除</a></td>
         
	 	</tr>
	 {/volist}

 </table> 

 <a class="btn btn-info" href="{:url('artcate/cateAdd')}" role="button">添加分类</a>
<!--  <a class="btn btn-info" href="{:url('artcate/delete')}" role="button" onClick="return confirm('确认要删除用户吗？')">批量删除</a> -->


<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>

<script type="text/javascript">
     function datadel(){
                $ids = $("input[name='ids']:checked");
                var checkID=[];
                $("input[name='ids']:checked").each(function(i){
                      checkID[i] = $(this).val();
                });

                //判断数组是否为空。空的话禁止点击
                if(checkID.length == 0){
                    return;
                }
                // console.log(checkID);
    //layer.confirm('确认要删除吗？',function(index){
    // $ids = $(".ids");
        $.ajax({
            type: 'POST',
            url:"{:url('artcate/delete')}",
            data:{checkID:checkID},
            dataType: 'json',
            success: function(data){
                // alert(data);
                // $(obj).parents("tr").remove();
                $ids.each(function(i){
                      $(this).parents("tr").remove();
                      // console.log($(this).parents("tr"));
                });
                //layer.msg('已删除!',{icon:1,time:1000});
            },
            error:function(data) {
                console.log(data.msg);
            },
        });        
    });
}
</script>