<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$title|default='页面标题'}</title>

	<!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="/static/js/bootstrap.js"> -->

	{load href='/static/css/bootstrap.css'   /}
	{load href='/static/js/jquery-3.5.1.min.js' /}
	{load href='/static/js/bootstrap.js'     /}
	{load href='/static/js/nicEdit.js'     /}
</head>
<body>
      <div class="container">